@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans SC', 'Poppins', sans-serif;
}

.font-title {
  font-family: 'Poppins', sans-serif;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}
